
@keyframes bang {
  from {
    transform: translate3d(0,0,0);
    opacity: 0.5;
  }
}

html{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    background: rgb(232, 228, 233)
    
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.input{
       all: unset; 
       padding-top: 15px;
       padding-bottom: 15px;
       padding-right: 15px;
       padding-left: 15px;
       color: white;
       text-transform: uppercase;
       font-family: sans-serif;
       letter-spacing: 1.5px;
       font-weight: bold;
       cursor: pointer;
       border-radius: 20px;
       font-size: 16px;
       background-color: #58cc02;
       box-shadow: 0 5px 0 #58a700;
       margin: 5px;
       text-align: center;
}  

 .output{ 
       all: unset;
       padding-top: 15px;
       padding-bottom: 15px;
       padding-right: 15px;
       padding-left: 15px;
       color: white;
       text-transform: uppercase;
       font-family: sans-serif;
       letter-spacing: 1.5px;
       font-weight: bold;
       cursor: pointer;
       border-radius: 20px;
       font-size: 16px;
       background-color: #58cc02;
       box-shadow: 0 5px 0 #58a700;
       margin: 7px;
       text-align: center;
} 
.score{
       all: unset;
       display: inline-block;
       padding-top: 15px;
       padding-bottom: 15px;
       padding-right: 15px;
       padding-left: 15px;
       color: rgb(248, 248, 248);
       text-transform: uppercase;
       font-family: sans-serif;
       letter-spacing: 1.5px;
       font-weight: bold;
       cursor: pointer;
       border-radius: 17px;
       font-size: 16px;
       background-color: #58cc02;
       box-shadow: 0 5px 0 #58a700;
       width: 100px;
       margin: 5px;
}  


.rem{
    all: unset;
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    /* padding-right: 15px; */
    padding-left: 15px;
    color: rgb(248, 248, 248);
    text-transform: uppercase;
    font-family: sans-serif;
    letter-spacing: 1.5px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 17px;
    font-size: 16px;
    background-color: #58cc02;
    box-shadow: 0 5px 0 #58a700;
    width: 100px;
    margin: 5px;
}  
.input_selected{
    background-color: rgb(204, 23, 122);
    box-shadow: 0 5px 0 rgb(155, 19, 94);
}
.output_selected{
    background-color: rgb(52, 206, 198);
    box-shadow: 0 5px 0 rgb(42, 168, 162);
}


#confetti {
  position: relative;
  i {
    position: absolute;
    display: block;
    left: 50%;
    top: 0;
    width: 3px;
    height: 8px;
    background: red;
    opacity: 0;
  }
}